{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
  <div class="row">
    <div class="col s12 ">
      <h1 class="header center-align">Réinitialiser le mot de passe</h1>
      <div class="card horizontal">
        <div class="card-stacked">
          <div>
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
          </div>
          <div class="card-action">
            {{ form_widget(form) }}
            <div class="center-align">
              <input class="btn" type="submit" value="SAUVEGARDER" />
            </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
