{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
      <div class="row">
<div class="col s12 ">
    <h2 class="header center-align">Paramètres Mot de passe</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        </div>
        <div class="card-action">
             {{ form_widget(form) }}
             <div>
                 <input class="waves-effect waves-light btn " type="submit" value="{{ 'change_password.submit'|trans }}" />
             </div>
         {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
